:root {
  --bg-color: lightyellow;
  --menu-color: #d9b28a;
  --menu-bar-height: 2rem;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 2rem;
  background: darkgreen;
  color: var(--bg-color);
  font-size: 2rem;
  text-align: center;
  padding: .5rem;
}

.menu-bar {
  height: var(--menu-bar-height);
  background: var(--menu-color);
  display: flex;
  justify-content: center;
}

.menu-bar > button {
  height: var(--menu-bar-height);
  width: 5rem;
  border: 1px solid black;
  background: var(--menu-color);
}

.menu-bar > button:hover {
  background: #f6f3d2;
}

.content {
  flex: 1;
  background: var(--bg-color);
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-body {
  height: 100%;
  width: 90%;
  background: var(--menu-color);
  border-radius: 15pt;
  display: flex;
  flex-direction: column;
}


.content-title,
.slogan {
  text-align: center;
  color: darkgreen;
  height: 10%;
  line-height: 5rem;
}

.content-title {
  font-size: 2.5rem;
}

.logo-container {
  height: 70%;
}
.logo-container img {
  position: relative;
  right: 7%;
  max-width: 100%;
}

.slogan {
  font-size: 1.5rem;
}


.footer {
  height: 2rem;
  background: darkgreen;
}
